form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
}

input, select {
    padding: 0.25rem;
    margin: 1rem;
}

label {
    padding: 0.25rem;
}

textarea {
    min-height: 3rem;
}